<div class="row mt-5">
    <div class="col-12 text-center">
        <a href="../Home/Excel" class="btn btn-primary">Ver documento Excel</a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <a href="../Home/Vertical" class="btn btn-primary">Pintado Vertical</a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <a href="../Home/Horizontal" class="btn btn-primary">Pintado Horizontal</a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <a href="../Home/Matricial" class="btn btn-primary">Pintado Matricial</a>
    </div>
</div>